<div class="top-margin"></div>
<div class="content-container">
    <div class="content-column">
        <div id="product-title">
            {{$ctrl.product.title}}
        </div>
        <div class="product-image">
            <img src="{{$ctrl.currentDisplayImage}}">
        </div>
        <div class="carousel-container">
            <li ng-repeat="productImage in $ctrl.productImages">
                <img class="image" src="{{productImage}}" ng-click="$ctrl.setCurrentDisplayImage(productImage)">
            </li>
        </div>
    </div>
    <div class="content-column">
    <div class="price">
        <div class="value">{{$ctrl.product.price.displayValue}}</div>
        <div class="qualifier">{{$ctrl.product.price.qualifier}}</div>
    </div>
    <div class="purchase-options">
        <button id="pick-up-in-store" ng-click="$ctrl.findInStore()" ng-if=$ctrl.product.availableInStore>PICK UP IN STORE</button>
        <button id="add-to-cart" ng-click="$ctrl.addToCart()" ng-if=$ctrl.product.availableOnline>ADD TO CART</button>
    </div>
</div>