<div class="top-margin"></div>
<div class="content-container">
    <div class="content-column">
        <div id="product-title">
            {{$ctrl.product.title}}
        </div>
        <div class="product-image">
            <img src="{{$ctrl.product.primaryImageUrl}}">
        </div>
    </div>
    <div class="content-column">
    <div class="price">
        <div class="value">{{$ctrl.product.price.displayValue}}</div>
        <div class="qualifier">{{$ctrl.product.price.qualifier}}</div>
    </div>
    <div class="purchase-options">
        <button ng-click="$ctrl.findInStore()" ng-if=$ctrl.product.availableInStore>PICK UP IN STORE</button>
        <button ng-click="$ctrl.addToCart()" ng-if=$ctrl.product.availableOnline>ADD TO CART</button>
    </div>
</div>